body {
    width: 100%;
}

@media screen and (max-width: 1600px) {
    #print {
        margin-left: -14rem;
    }
}

@media screen and (max-width: 1100px) {
    #print {
        margin-left: 0rem;
        margin-right: -14rem;
        width: 99%;

    }
}

@media screen and (max-width: 900px) {
    #print {
        margin-left: 0rem;
        margin-right: -14rem;
        width: 99%;

    }
}

@media screen and (max-width: 600px) {
    #print {
        width: 99%;

    }
}